.footer {
  background-color: $background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
  }
}

.footer-section {
  min-width: 270px;
  margin-right: 30px;
}

.address {
  font-size: 14px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.maps {
  font-weight: 400;
  color: $primary-white;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link:hover,
.address-link:focus {
  color: $accent-color;
  transition: transform 500ms ease;
}

.logo-footer {
  color: $primary-white;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

.call-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white;
  margin-bottom: 20px;
}
